:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --verdePalta: #CAF567;
    --cafeCuesco: #F09C6A;

    --fuente-principal: 3.8 rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8 rem;
    font-weight: bold;
}

.contenedor{
    width: 120rem;
    margin: 0 auto 0 auto;
}

.nav-bg{
    background-color: var(--verdePalta);

}

.navegacion-principal{
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a{
    color: var(--cafeCuesco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--cafeCuesco);
    color: var(--verdePalta);
}

@media (min-with: 480px){

}

@media (min-with: 768px){
    
}